/* Default styles */
body {
    margin: 0;
    background-color: #fff;
    color: #191919;
    font-family: 'Pacifico', cursive;
  }
  
  .navbar-brand {
    font-size: 200%;
    padding-left: 2rem;
  }
  
  .navbar-nav {
    padding-right: 2rem;
  }
  
  .la {
    text-align: left;
  }
  
  .btn {
    border-radius: 40px;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    transform: scale(1.05);
  }
  
  #man {
    padding-left: 10rem;
  }
  
  .login {
    margin-top: 13rem;
  }
  
  .img-login {
    width: 50%;
    margin-left: 10rem;
  }
  
  .hire {
    margin-top: 5rem;
  }
  
  .l {
    padding-top: 3rem;
  }
  
  .m {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .f {
    width: 80%;
  }
  
  .a {
    width: 50%;
  }
  
  .h-form {
    padding-bottom: 4rem;
  }
  
  /* Media queries */
  @media screen and (max-width: 768px) {
    .navbar-brand {
      font-size: 150%;
      padding-left: 1rem;
    }
  
    .navbar-nav {
      padding-right: 1rem;
    }
  
    #man {
      padding-left: 5rem;
    }
  
    .img-login {
      width: 100%;
      margin-left: 0;
    }
  
    .a {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 576px) {
    .navbar-brand {
      font-size: 100%;
      padding-left: 1rem;
    }
  
    .navbar-nav {
      padding-right: 1rem;
    }
  
    #man {
      padding-left: 3rem;
    }
  
    .img-login {
      width: 100%;
      margin-left: 0;
    }
  
    .a {
      width: 100%;
    }
  }
  